name: Dart CI

on: [push, pull_request]

jobs:
  test-hive:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-platform: [vm, chrome]
        dart-channel: ["2.12.0", "2.13.0", "2.14.0"]
    steps:
      - uses: actions/checkout@v1
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart-channel }}
      - name: Install dependencies
        run: pub get
        working-directory: hive
      - name: Run tests
        run: pub run test -p ${{ matrix.test-platform }}
        working-directory: hive

  test-hive-flutter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-channel: [dev, beta, stable]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.flutter-channel }}
      - name: Override dependency version
        run: |
          echo -e "\ndependency_overrides:\n  win32: 2.6.1" >> pubspec.yaml
        working-directory: hive_flutter
      - name: Install dependencies
        run: flutter pub get
        working-directory: hive_flutter
      - name: Run tests
        run: flutter test
        working-directory: hive_flutter

  test-hive_generator:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dart-channel: ["2.12.0", "2.13.0"]
    steps:
      - uses: actions/checkout@v1
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart-channel }}
      - name: Install dependencies
        run: pub get
        working-directory: hive_generator/example
      - name: Generate build_runner output
        run: pub run build_runner build --delete-conflicting-outputs
        working-directory: hive_generator/example

  check-score:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [hive, hive_generator, hive_flutter]
    steps:
      - uses: actions/checkout@v1
      - uses: axel-op/dart-package-analyzer@v3
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          relativePath: ${{ matrix.package }}
          minAnnotationLevel: warning
